/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }

section.section-padding{
    padding: 100px 0;
}
.quote-form-wrapper img{
    display: block;
    margin: 0 auto;
}
.blue-form{
    background-color: #19B5FF;
    padding-top: 35px;
    margin-top: -65px;
    max-width: 770px;
    padding-left: 40px;
    padding-right: 85px;
    padding-bottom: 60px;
}
.blue-form h3{
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
}
.blue-form h3:before{
    position: absolute;
    content: "";
    width: 130px;
    left: 50%;
    background-color: #fff;
    height: 1px;
    bottom: 0;
    margin-left: -65px;
}
.blue-form h3:after{
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    left: 50%;
    bottom: -6.5px;
    border-radius: 50%;
    margin-left: -6.5px;
    background-color: #19B5FF;
}
.blue-form input,.blue-form textarea{
    border: none;
    background: none;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #8FDAFC;
    padding: 10px 0px;
}
.blue-form textarea{
    height: 100px;
}
.blue-form button{
    color: #19B5FF;
    background-color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
}
.blue-form button:hover{
    color: #000;
    background-color: #fff;
}
.button{
    text-align: center;
    margin-top: 20px;
    transition: .2s;
}